* {
    margin: 0;
    padding: 0;
    border-radius: border-box;
}

body, html {
    background: dodgerblue;
    color: white;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    color: rgb(24, 69, 114);
    text-decoration: none;
}